<template>
    <DxDataGrid :columnAutoWidth="true" :dataSource="dataSource" @toolbarPreparing="onToolbarPreparing"/>
</template>

<script>
import DxDataGrid, { DxColumn } from "devextreme-vue/data-grid";
import CustomStore from "devextreme/data/custom_store";

export default {
    props: {
        userId: {
            required: true,
            type: Number,
        },

        o_auth_link: {
            required: true,
            type: String,
        }
    },

    components: {
        DxDataGrid,
        DxColumn,
    },

    data() {
        const userId = this.userId;

        return {
            dataSource: new CustomStore({
                load() {
                    return axios.get(route('users.payments.index', userId));
                }
            }),
        }
    },

    methods: {
        /**
         * Toolbar configuration
         *
         * @param {{items: [dxToolbarItem]}} toolbarOptions
         */
        onToolbarPreparing({ toolbarOptions }) {
            const link = this.o_auth_link;

            toolbarOptions.items.push({
                location: 'before',
                text: 'User Payments',
            });

            toolbarOptions.items.push({
                location: 'after',
                widget: 'dxButton',
                options: {
                    text: 'Add payment',
                    icon: 'money',
                    type: 'primary',
                    onClick() {
                        window.open(link, '_self');
                    },
                }
            });
        },
    }
}
</script>
