<template>
    <DxDataGrid :dataSource="dataSource" :columnAutoWidth="true" @toolbarPreparing="onToolbarPreparing">
        <DxEditing mode="popup" :allowAdding="true" :allowUpdating="true" :allowDeleting="true">
            <DxPopup :showTitle="true" title="User data"/>
            <DxForm>
                <DxItem dataField="email"/>
                <DxItem dataField="name"/>
                <DxItem dataField="tel"/>
                <DxItem dataField="password" :editorOptions="{mode: 'password', placeholder: `Input a new password`}"/>
            </DxForm>
        </DxEditing>

        <DxColumn caption="Name" dataField="name"/>
        <DxColumn caption="Email" dataField="email"/>
        <DxColumn caption="Telephone" dataField="tel"/>
        <DxColumn caption="Register date" dataField="created_at" dataType="datetime"/>

        <DxColumn caption="Password" dataField="password" :visible="false"/>

        <DxMasterDetail :enabled="true" template="userPayments"/>

        <template #userPayments="{data: {data: {id, o_auth_link}}}">
            <Payments :user-id="id" :o_auth_link="o_auth_link"/>
        </template>
    </DxDataGrid>
</template>

<script>
import DxDataGrid, { DxColumn, DxEditing, DxForm, DxPopup, DxMasterDetail } from "devextreme-vue/data-grid";
import { DxItem } from "devextreme-vue/form";
import CustomStore from "devextreme/data/custom_store";
import Payments from "./Payments";

export default {
    components: {
        DxDataGrid,
        DxEditing,
        DxColumn,
        DxPopup,
        DxForm,
        DxItem,
        DxMasterDetail,
        Payments,
    },

    data() {
        return {
            dataSource: new CustomStore({
                load() {
                    return axios.get(route('users.index'));
                },

                insert(data) {
                    return axios.post(route('users.store'), data);
                },

                update({ id }, changes) {
                    return axios.patch(route('users.update', id), changes);
                },

                remove({ id }) {
                    return axios.delete(route('users.destroy', id));
                }
            })
        };
    },

    methods: {
        /**
         * Toolbar configuration
         *
         * @param {{items: [dxToolbarItem]}} toolbarOptions
         */
        onToolbarPreparing({ toolbarOptions }) {
            toolbarOptions.items.push({
                location: 'before',
                text: 'Users',
            });
        },
    }
}
</script>
